/* You can add global styles to this file, and also import other style files */
body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49864");
  position: relative;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: purple;
  color: white;
}

header > a {
  padding: 5px;
  color: white;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 6px;
}

/*header > h1 {*/
/*  padding: 20px;*/
/*  color: whitesmoke;*/
/*}*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: yellow;
  color: black;
  padding: 20px;
}
