<div class="details-container">
  <div class="back">
    <a [routerLink]="'/'">&laquo; Back</a>
  </div>

  <div *ngIf="person" class="person">
    <h2>{{ person.firstName }} {{ person.lastName }}</h2>
    <dl class="info">
      <span class="tab">ID:</span> <span>{{personId}}</span>
      <dt></dt>
      <span class="tab">Age:</span> <span>{{person.age}}</span>
    </dl>

    <dl *ngIf="person.address" class="address">
      <span class="tab">City:</span> <span>{{person.address.city}}</span>
      <dt></dt>
      <span class="tab">Street:</span> <span>{{person.address.street}}</span>
      <dt></dt>
      <span class="tab">ZIP:</span> <span>{{person.address.postCode}}</span>
    </dl>
  </div>

  <div class="alert" *ngIf="!person">
    <p>Person not found!</p>
</div>
